#doorbell, #doorbell-button {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
	font-size: 14px!important;
	line-height: 1.4em!important;
}

#doorbell-background {
    background: rgb(0,0,0);
}

#doorbell-button {
	color: #FFE808;
	background-image: url('bookswarm-book.png');
	background-position: left 9px center;
	background-repeat: no-repeat;
	background-size: 15px 27px;
	padding: 10px 20px 10px 35px;
	text-transform: none;
	font-weight: normal;
}

#doorbell #doorbell-form {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#doorbell #doorbell-form ul {
	margin-left: 15px; 
}

#doorbell #doorbell-form a:link,
#doorbell #doorbell-form a:visited {
	color: #1982d1;
}

#doorbell #doorbell-form .checkbox {
	margin-bottom: 5px;
}

#doorbell #doorbell-form .checkbox label {
    color: #000!important;
    width: 100%!important;
}

#doorbell #doorbell-form p {
    color: #000!important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    font-size: 14px!important;
    line-height: 1.4em!important;
}

#doorbell .buttons button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: block;
    cursor: pointer;
}

#doorbell form textarea, #doorbell form input[type="email"] {
	font-size: 14px!important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    background-color: #fafafa!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1)!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1)!important;
    border: 1px solid #ddd!important;
    color: #000!important;
    font-weight: normal!important;
}

#doorbell #doorbell-add-attachments-label-button {
    color: #000!important;
}

#doorbell .btn-primary {
    color: #FFE808;
    background-color: #000;
    border-color: #000;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

#doorbell .btn-primary:hover {
    background-color: #313131;
}

#doorbell .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


#doorbell #doorbell-success {
	color: black;
	font-weight: bold;
	border: 1px solid #0DA20D;
	border-radius: 5px;
	padding: 5px;
	background-color: #EBFDEB;
}


#doorbell #doorbell-error {
	color: red;
	font-weight: bold;
}