<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

<link rel="stylesheet" href="{{ site.url }}/css/all.css">
<link rel="stylesheet" href="{{ site.url }}/css/all.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/bookswarm-support-styles.css">
<link rel="stylesheet" href="{{ site.url }}/css/cnss.css">
<link rel="stylesheet" href="{{ site.url }}/css/default-skin.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/jel6jvu.css">
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
<link rel="stylesheet" href="{{ site.url }}/css/mediaelementplayer-legacy.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
<link rel="stylesheet" href="{{ site.url }}/css/photoswipe.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/sbi-styles.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/share.css">
<link rel="stylesheet" href="{{ site.url }}/css/style (1).css">
<link rel="stylesheet" href="{{ site.url }}/css/style (2).css">
<link rel="stylesheet" href="{{ site.url }}/css/style.css">
<link rel="stylesheet" href="{{ site.url }}/css/style.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/v4-shims.css">
<link rel="stylesheet" href="{{ site.url }}/css/v4-shims.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/views-frontend.css">
<link rel="stylesheet" href="{{ site.url }}/css/wcviews-onsalebadge.css">
<link rel="stylesheet" href="{{ site.url }}/css/woocommerce-layout.css">
<link rel="stylesheet" href="{{ site.url }}/css/woocommerce-smallscreen.css">
<link rel="stylesheet" href="{{ site.url }}/css/woocommerce.css">
<link rel="stylesheet" href="{{ site.url }}/css/wp-mediaelement.min.css">
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
